@model UniqueDrinks.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datanasc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datanasc)
        </dd>
    </dl>
</div>
@* Adicionar as Reservas do Utilizador *@
<h4>Lista de Reservas associadas ao/à  sr/a @Model.Nome</h4>

@if (Model.ListaDeReservas.Count == 0)
{
    <p>Não há reservas associadas ao Utilizador.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Reserva</th>
            <th>Data da Reserva</th>
            <th>Data da Entrega</th>
            <th>Estado da Reserva</th>
            <th>Quantidade de Produtos</th>
            
        </tr>
        @foreach (var reserva in Model.ListaDeReservas)
        {
            <tr>
                <td>@reserva.Id</td>
                <td>@reserva.DataReserva</td>
                <td>@reserva.DataEntrega</td>
                <td>@reserva.Estado</td>
                <td>@reserva.Quantidade</td>
                <td></td>
            </tr>
        }
    </table>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar à Lista</a>
</div>
