@model UniqueDrinks.Models.ImagensBebidas

@{
    ViewData["Title"] = "Lista de Imagens";
}

<h1>Lista de Imagens de Bebidas</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Adicionar nova Imagem</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeImagens.FirstOrDefault().Imagem)
            </th>
            if (User.Identity.IsAuthenticated) {
            <th>
                @Html.DisplayNameFor(model => model.ListaDeImagens.FirstOrDefault().Bebida)
            </th>
            <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDeImagens)
        {
        <tr>
            <td>
                @* invoca o valor existente no Modelo com o conteúdo deste atributo *@

                <img src="~/fotos/@Html.DisplayFor(modelItem => item.Imagem)"
                     width="200"
                     alt="Imagem da bebida  @Html.DisplayFor(modelItem => item.Bebida.Nome)"
                     title="@Html.DisplayFor(modelItem => item.Bebida.Nome)" />
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                
                <td>
                    @if (Model.ListaDeBebidas.Contains(item.BebidaFK))
                    {
                       
                        <a asp-action="Details" asp-controller="Bebidas" asp-route-id="@item.Bebida.Id">
                            @Html.DisplayFor(modelItem => item.Bebida.Nome)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Bebida.Nome)
                    }
                </td>
                <td>
                    @if (Model.ListaDeBebidas.Contains(item.BebidaFK))
                    {
                        
                        <text>
                            
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </text>
                    }
                </td>
            }

        </tr>
        }
    </tbody>
</table>
